{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-es2015-spread",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "retainLines": true,
  "env": {
    "test": {
      "plugins": [
        "babel-preset-fbjs/plugins/inline-requires"
      ]
    }
  }
}
