{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-es2015-spread",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "ignore": ["packages/metro/src/lib/polyfills"],
  "retainLines": true
}
