{
  "plugins": [
    "babel-preset-fbjs/plugins/inline-requires",
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "retainLines": true
}
