.eslintcache
/node_modules
/packages/*/node_modules/
/coverage
/reports
npm-debug.log*
packages/*/build/

website/build/
website/i18n/*
website/node_modules
website/translated_docs
.idea
.vscode
.docusaurus
.cache-loader
yarn-error.log
